.header-content {
  display: flex;
  color: white;
  justify-content: space-between;
  height: 100%;

  .left {
    display: flex;
    flex: 1;
    align-items: center;

    > * {
      margin-right: 5px; /* Устанавливаем отступ между каждым элементом в 10px */
    }

    span {
      font-family: "gothic 14";
      font-size: 22px;
    }
    .title-hydrogen {
      color: #517eae;
      @media (max-width: 640px) {
        font-size: 14px;
      }
    }
    .title-hydrogen-fx {

      
    @media (max-width: 640px) {
      font-size: 14px;
    }
 
    }
    .icon {
      border: solid 1px #222e4e;
      height: 100%;
      padding: 0 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    img {
      margin-left: 20px;
      width: 40px;
    }
  }

  .right {
    flex: 1;
    display: flex;
    justify-content: end;
    align-items: center;

    .sign-out,
    .dateTime,
    .icon-header {
      border: solid 1px #222e4e;
      height: 100%;
      padding: 0 12px;
      display: flex;
      justify-content: center;
      align-items: center;
       
      .dateTime{
        font-family: "gothic L";
      }

      .sign-out-text {
        margin: 0 12px;
        font-size: 13px;
        font-family: "gothic 12";
        @media (max-width: 640px) {
          font-size: 14px;
          display: none;
        }
      }
    }
  }
}
