.production-content {
  display: flex;
  height: 100%;
  background-color: #1c2641;
  position: relative;
  flex-direction: column;

  img {
    position: absolute;
    top: 0;
    left: 40px;
    width: 13px;
  }
  .top {
    height: 70px;
    border: 1px solid #253255;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;

    .title-text{
        font-size: 20px;
        margin-left: 60px;
        color: #5E76BA;
        font-family: "gothic 12";
    }
    .left {
        display: flex;
        height: 100px;
        align-items: center;
    }

    .right {
        height: 100%;
        display: flex;
        align-items: center;

        .switch-text{
            font-size: 14px;
            font-family: "gothic 12";
            color: #8FAADC;
        }
    }
  }

  .bottom {
    flex: 3;
    display: grid;
    justify-content: space-around;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 30px;
    align-items: center;

    &.no-border-top {
      border: 1px solid #253255;
      border-top: none; 
    }
  }
}
