.cctv-situation-content {
  height: 100%;
  width: 100%;
  align-items: center;
  overflow-y: auto;
  display: flex;

  .cctv-sitauation-inner {
    display: grid;
    width: 100%;
    padding: 0 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    @media (max-width: 2135px) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    @media (max-width: 1536px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
    .cctv-item {
      border-bottom: 1px solid #253255;
      background-color: #212c4b;
      height: 170px;
      margin: 20px 10px;
      display: flex;
      flex-direction: column;

      .top {
        border: 1px solid #253255;
        display: flex;
        flex: 3;
        align-items: center;
        justify-content: center;

        .img-icon {
          width: 80%;
          height: 100%;

          &.default {
            width: 30%;
            height: 40%;
          }
        }
      }

      .bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
        color: #8faadc;
        font-family: "gothic 12";
      }
    }
  }
}
