@font-face {
    font-family: "gothic 12";
    font-style: normal;
    font-weight: 100;
    src: url("../public/fonts/a고딕12.ttf") format("woff");
  }

  @font-face {
    font-family: "gothic 14";
    font-style: normal;
    font-weight: 100;
    src: url("../public/fonts/a고딕14.ttf") format("woff");
  }

  @font-face {
    font-family: "gothic L";
    font-style: normal;
    font-weight: 100;
    src: url("../public/fonts/a각헤드L.ttf") format("woff");
  }

  
  @font-face {
    font-family: "gothic M";
    font-style: bold;
    font-weight: 900;
    src: url("../public/fonts/a각헤드M.ttf") format("woff");
  }

  @font-face {
    font-family: "gothic 16";
    font-style: bold;
    font-weight: 900;
    src: url("../public/fonts/a고딕16.ttf") format("woff");
  }