.station-list {
  margin: 10px 20px;
  height: 700px;
  background-color: #1c2641;

  .header-table {
    height: 50px;
    border: 1px solid #253255;
    display: flex;
    justify-content: space-between;

    .left {
      height: 100%;
      display: flex;
      align-items: center;

      > * {
        border-right: 1px solid #253255;
      }

      .icon-header {
        height: 100%;
        width: 50px;
        justify-content: center;
        display: flex;
        align-items: center;
      }
    }
    .right {
      height: 100%;
      display: flex;
      align-items: center;

      .icon-header {
        height: 100%;
        width: 50px;
        justify-content: center;
        display: flex;
        border-left: 1px solid #253255;
        align-items: center;
      }
    }
  }

  .table {
    width: 100%;
    height: 90%;
    .custom-datagrid {
      font-family: "gothic 12";
      color: #fff;
      border: none;
      font-size: 13px;
    }
    .MuiDataGrid-columnHeaders {
      background-color: #253255;
      color: #8faadc;
      min-height: 20px;
    }
    .MuiDataGrid-withBorderColor {
      border-color: #2b3a63;
    }
    .MuiDataGrid-columnHeader {
      border: 1px solid #232f50;
    }
    .MuiDataGrid-cell {
      border: 1px solid #232f50;
    }
    .MuiDataGrid-checkboxInput {
      color: #576fae;
    }
    .MuiTablePagination-root{
        color: #8faadc;
    }
    .MuiSvgIcon-root{
        color: #8faadc;
    }

    .MuiDataGrid-columnHeaderTitleContainerContent {
      span {
        margin: 0;
      }
    }
  }
}
